<!--The HeroesComponent will only present the list of heroes.-->
<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">add hero</button>
</div>

<ul class="heroes">
  <!--(click) - example of event binding syntax.-->
  <!--[class.some-css-class]="some-condition" - example of class binding syntax.
  When the current row hero is the same as the selectedHero, Angular adds the selected CSS class.-->
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="selectHero(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    <button class="delete" title="=delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
<!--example of property binding syntax (one way data binding)-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
